$color_1: #fff;
$color_2: #ccc;
$color_3: #1b2130;
$color_4: #000;
$color_5: #464646;
$color_6: #252525;
$color_7: #4a8b92;
$color_8: #2f394e;
$color_9: #354057;
$color_10: #f5f5f5;
$color_11: #97d0d3;
$color_12: #68a7aa;
$color_13: #4c8f97;
$color_14: #ededed;
$font_family_1: Arial, Helvetica, sans-serif;
$font_family_2: 'Arimo-Bold';
$font_family_3: 'ChangaOne';
$font_family_4: 'Comfortaa-Regular';